/* Flip out (sumindo) */
@keyframes flip-out {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
  }
  100% {
    opacity: 0;
    transform: rotateY(90deg) translateY(20px);
  }
}

/* Flip in (entrando) */
@keyframes flip-in {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
  }
}

.flip-out {
  animation: flip-out 300ms ease forwards;
}

.flip-in {
  animation: flip-in 300ms ease forwards;
}


/* spinner animation */

.spinner-animation {
  animation: spin 1s linear infinite;
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
